{% extends "func/dashboard.html"%}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.quicksearch.js')}}"></script>
{% endblock %}

{% block body %}
{% if estilos%}
<br>
<div class="form-group">
    <input id="pesq_est" type="text" name="txtnomeestilo" class="form-control"
        placeholder="Pesquisar por Nome do Estilo Musical" autofocus onsubmit="false" autocomplete="off">
</div>
<table id="tab_est" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nome do Estilo Musical</th>
            <th scope="col">Alterar/Excluir</th>
        </tr>
    </thead>
    <tbody>
        {% for estilo in estilos %}
        <tr class="table-light">
            <td>{{estilo.nome}}</td>
            <td><a class="btn btn-warning" href="{{url_for('func.alterar_estilo', id=estilo.id)}}"><span
                        class="fas fa-edit"></span></a>
                <a class="btn btn-danger" href="#" data-estilo="{{estilo.id}}" onclick="ConfirmaDel(this)">
                    <span class="fas fa-trash-alt"></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div style="text-align: center">
    <h3> Nenhum Estilo Musical adicionado. </h3>
    <hr class="intro-divider">
    {% endif %}
    <div id="ExcEst" class="modal fade">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir Estilo Musical</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Tem certeza que deseja excluir o Estilo Musical?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <form id="formDel" method="POST">
                        <button type="button" class="btn btn-danger" onclick="Delete()">Excluir</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('input#pesq_est').quicksearch('table#tab_est tbody tr');

        function ConfirmaDel(elem) {
            localStorage.setItem('deleteId', $(elem).attr('data-estilo'));
            $('#ExcEst').modal();
        }

        function Delete() {
            const form = document.getElementById('formDel');
            form.action = 'deletar/'+localStorage.getItem('deleteId');
            form.submit();
        }
    </script>
    {% endblock %}