{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<br>
<h1 class="h2 mb-3 font-weight-normal text-center">Bem-Vindo! Por favor faça o login para acessar sua conta</h1>
<hr class="intro-divider">
<div class="container">
    <div class="row justify-content-center">
        <form class="form-signin" method="POST">
            <img class="mb-4" src="{{url_for('static', filename='img/logo.jpg')}}" alt="" width="200"
                height="150" style="border-radius: 25px">
            {{ form.username.label(class="sr-only")}}
            {{ form.username(class="form-control", placeholder="Username", required=true, autofocus=true) }}
            <br>
            {{ form.senha.label(class="sr-only")}}
            {{ form.senha(class="form-control", placeholder="Senha", required=true)}}
            <!-- <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div> -->
            <br>
            {{form.logar(class="btn btn-lg btn-primary btn-block")}}
            <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
        </form>
    </div>
</div>

{% endblock %}