{% extends "func/dashboard.html"%}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.quicksearch.js')}}"></script>
{% endblock %}
{% block body %}
{% if emps%}
<br>
<form method="POST">
    <div class="input-group mb-3">
        <input id="pesq_emp" name="pesq_emp" type="text" class="form-control"
            placeholder="Pesquisar Nome da Empresa" aria-label="Pesquisar Nome da Empresa"
            aria-describedby="basic-addon2" autofocus autocomplete="off">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
        </div>
    </div>
</form>
<table id="tab_emp" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">CNPJ</th>
            <th scope="col">Nome Fantasia</th>
            <th scope="col">Telefone</th>
            <th scope="col">Alterar/Excluir</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in emps %}
        <tr class="table-light">
            <td>{{emp.cnpj}}</td>
            <td>{{emp.nomefantasia}}</td>
            <td>{{emp.telefone}}</td>
            <td><a class="btn btn-warning" href="{{url_for('func.alterar_emp', cnpj=emp.cnpj)}}"><span
                        class="fas fa-edit"></span></a>
                <a class="btn btn-danger" href="#" data-emp="{{emp.cnpj}}" onclick="ConfirmaDel(this)"><span
                        class="fas fa-trash-alt"></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<br>
<form method="POST">
    <div class="input-group mb-3">
        <input id="pesq_emp" name="pesq_emp" type="text" class="form-control" placeholder="Pesquisar Nome da Empresa"
            aria-label="Pesquisar Nome da Empresa" aria-describedby="basic-addon2" autofocus autocomplete="off">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
        </div>
    </div>
</form>
<hr class="intro-divider">
{% endif %}
<div id="ExcEmp" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Empresa</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label">Tem certeza que deseja excluir a Empresa?</label>
                </div>
            </div>
            <div class="modal-footer">
                <form id="formDel" method="POST">
                    <button type="button" class="btn btn-danger" onclick="Delete()">Excluir</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('input#pesq_emp').quicksearch('table#tab_emp tbody tr');
    function ConfirmaDel(elem) {
    localStorage.setItem('deleteId', $(elem).attr('data-emp'));
    $('#ExcEmp').modal();
    }

    function Delete() {
    const form = document.getElementById('formDel');
    form.action = 'deletar/'+localStorage.getItem('deleteId');
    form.submit();
    }
</script>
{% endblock %}